*{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(231, 230, 230, 0.808);
    padding: 10px;
}

.gray{
    color: rgba(83, 83, 83, 0.849);
}

.main-title{
    font-size: 1.5em;
    font-weight: 1000;
}

.sub-title{
    font-size: 1.2em;
    font-weight: 500;
}

.icon{
    font-size: 1.7em!important;
}

header{
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    & .main-product{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .main-product-img-container{
            width: 100%;
            height: 33%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .main-product-img{
                width: 100px;
                height: 100px;
                background-color: rgba(253, 226, 176, 0.767);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                border-radius: 25px;
            }  
        }

        & .main-product-desc{
            width: 100%;
            height: 33%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        & .main-product-frecuency{
            width: 100%;
            height: 33%;
            display: flex;
            justify-content: space-around;
            gap: 20px;

            & .frecuency{
                width: calc(50% - 10px);
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
                gap: 5px;
                border-radius: 25px;
                background-color: rgba(253, 226, 176, 0.767);

                & .frecuency-container{
                    width: 100%;
                    display: flex;
                    gap: 10px;
                }
            }

            & .quantity{
                width: calc(50% - 10px);
                display: flex;
                flex-direction: column;
                padding: 20px;
                gap: 5px;
                border-radius: 25px;
                background-color: rgba(253, 226, 176, 0.767);

                & .quantity-container{
                    display: flex;
                    gap: 10px;
                }
            }
        }
    }

    & .icon-left{
        position: absolute;
        left: 0;
        top: 0;

        & span{
            font-size: 1.7em!important;
        }
    }

    & .icon-left:hover{
        cursor: pointer;
    }

    & .icon-right{
        position: absolute;
        right: 0;
        top: 0;

        & span{
            font-size: 1.7em!important;
        }
    }

    & .icon-right:hover{
        cursor: pointer;
    }
}

main{
    width: 100%;
    height: 50%;
    overflow-y: scroll;

    & .all-products{
        width: 100%;
        height: calc(100% - 20px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 20px;
        gap: 20px;

        & .product{
            width: 80%;
            display: flex;
            flex-direction: column;
            padding: 20px;
            border-radius: 20px;
            background-color: rgba(253, 226, 176, 0.767);
            gap: 20px;
            position: relative;
            overflow: hidden;

            & .product-info{
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;

                & .text-container{
                    width: 90%;
                    height: 100%;
                    display: flex;
                    gap: 10px;
    
                    & .line{
                        border: solid 2.5px rgb(255, 136, 0);
                        border-radius: 20px;
                    } 
                }
                
    
                & .icon-container{
                    width: 10%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
    
                    .icon{
                        font-size: 2em!important;
                    }
    
                    .icon:hover{
                        cursor: pointer;    
                    }
                }
            }

            .options{
                width: 100%;
                height: 50px;
                align-items: center;
                justify-content: space-around;
                display: none;
                bottom: -50px;
                opacity: 0;
              
             

                & button{
                    width: 153px;
                    padding: 13px;
                    border-radius: 15px;
                    border: none;
                    font-size: 1.3em;
                    font-weight: 600;
                }

                & button:hover{
                    cursor: pointer;
                }

                & .done{
                    color: rgb(255, 255, 255);
                    background-color: rgb(0, 30, 87);
                }

                & .later{
                    color: rgb(0, 30, 87);
                    background-color: rgb(228, 228, 228);
                }
            }
        }
    }
}

main::-webkit-scrollbar{
    display: none;
}
.mostrarBotones{
    position: relative;
    display: flex!important;
    animation: subir 0.4s ease-in-out forwards 0.1s;
}

@keyframes subir{
    0%{
        bottom: -50px;
        opacity: 0;
    }
 
    100%{
        bottom: 0;
        opacity: 1;
    }
}